.dxXtraReports_BtnFirstPage_MyCdsc,
.dxXtraReports_BtnFirstPageDisabled_MyCdsc,
.dxXtraReports_BtnLastPage_MyCdsc,
.dxXtraReports_BtnLastPageDisabled_MyCdsc,
.dxXtraReports_BtnNextPage_MyCdsc,
.dxXtraReports_BtnNextPageDisabled_MyCdsc,
.dxXtraReports_BtnPrevPage_MyCdsc,
.dxXtraReports_BtnPrevPageDisabled_MyCdsc,
.dxXtraReports_BtnPrint_MyCdsc,
.dxXtraReports_BtnPrintDisabled_MyCdsc,
.dxXtraReports_BtnPrintPage_MyCdsc,
.dxXtraReports_BtnPrintPageDisabled_MyCdsc,
.dxXtraReports_BtnSave_MyCdsc,
.dxXtraReports_BtnSaveDisabled_MyCdsc,
.dxXtraReports_BtnSaveWindow_MyCdsc,
.dxXtraReports_BtnSaveWindowDisabled_MyCdsc,
.dxXtraReports_BtnSearch_MyCdsc,
.dxXtraReports_BtnSearchDisabled_MyCdsc,
.dxXtraReports_PageBorder_blc_MyCdsc,
.dxXtraReports_PageBorder_brc_MyCdsc,
.dxXtraReports_PageBorder_tlc_MyCdsc,
.dxXtraReports_PageBorder_trc_MyCdsc
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxXtraReports_BtnFirstPage_MyCdsc
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_MyCdsc
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_MyCdsc
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_MyCdsc
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_MyCdsc
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_MyCdsc
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_MyCdsc
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_MyCdsc
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_MyCdsc
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_MyCdsc
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_MyCdsc
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_MyCdsc
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_MyCdsc
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_MyCdsc
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_MyCdsc
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_MyCdsc
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_MyCdsc
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_MyCdsc
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_MyCdsc
{
    background-position: 0px -306px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_MyCdsc
{
    background-position: 0px -317px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_MyCdsc
{
    background-position: 0px -328px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_MyCdsc
{
    background-position: 0px -339px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_MyCdsc,
.dxXtraReports_PageBorder_l_MyCdsc,
.dxXtraReports_PageBorder_r_MyCdsc,
.dxXtraReports_PageBorder_b_MyCdsc {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_MyCdsc {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_MyCdsc {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_MyCdsc {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_MyCdsc {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

